name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      
      # ⬇️ CHANGED TO V3 TO FIX THE "SPLIT" ERROR
      - uses: Platane/snk@v3
        with:
          # Hardcoding your username prevents variable errors
          github_user_name: Bhuvangs04
          outputs: dist/github-contribution-grid-snake.svg
          
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}